biopandas==0.5.1
biopython==1.85
biotite==1.2.0
biotraj==1.2.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
contourpy==1.3.2
cycler==0.12.1
darkdetect==0.7.1
exceptiongroup==1.3.0
fonttools==4.59.0
gemmi==0.7.3
greenlet==3.2.4
html2image==2.0.7
idna==3.10
imageio==2.37.0
importlib_resources==6.5.2
iniconfig==2.1.0
kiwisolver==1.4.9
lazy_loader==0.4
llvmlite==0.44.0
looseversion==1.1.2
matplotlib==3.10.5
mido==1.3.3
mmtf-python==1.1.3
msgpack==1.1.1
networkx==3.4.2
numba==0.61.2
numpy==1.26.4
packaging==25.0
pandas==2.3.1
-e git+https://github.com/markxbrooks/picogl.git@14d42cfd8888bed054c7c28f93cca8f9127296a6#egg=picogl
pillow==11.3.0
pluggy==1.6.0
PyAudio==0.2.14
pyfluidsynth==1.3.4
pyglm==2.8.2
Pygments==2.19.2
pyo==1.0.5
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pyparsing==3.2.3
Pypubsub==4.0.3
pyqtdarktheme @ file:///Users/brooks/projects/biotoolkit/biotoolkit/deps/pyqtdarktheme-2.1.0-py3-none-any.whl#sha256=8739d99502230fbaca42551ea033c9ae31c81c4ebfec2f1ffde38f32a18bea7a
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
pytest==8.4.2
python-dateutil==2.9.0.post0
python-rtmidi==1.5.8
pytz==2025.2
QtAwesome==1.4.0
QtPy==2.4.3
requests==2.32.4
scikit-image==0.25.2
scipy==1.15.3
shiboken6==6.9.1
six==1.17.0
SQLAlchemy==2.0.43
style==1.1.0
tabulate==0.9.0
tifffile==2025.5.10
tomita==0.2.0
tomli==2.2.1
typing_extensions==4.14.1
tzdata==2025.2
update==0.0.1
urllib3==2.5.0
websocket-client==1.8.0
zipp==3.21.0
