[Desktop Entry]
Name=JD-Xi Editor
Comment=MIDI Editor for Roland JD-Xi Synthesizer
Exec=jdxi-editor
Icon=${SNAP}/share/icons/hicolor/512x512/apps/jdxi-editor.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Midi;Music;
Keywords=MIDI;Synthesizer;Roland;JD-Xi;Editor;Music;
StartupWMClass=jdxi-editor

